<div class="header">
    <div class="header__content container">
        <div class="header__content-left">
            <div class="brand">
                Todo App
            </div>
        </div>
        <div class="header__content-right">
            <!--<div class="info__content">-->
                <!--Inspired by Richard Park, developed by Yulian Karapetkov-->
            <!--</div>-->

            <a>
                <i class="fas fa-info-circle"></i>
            </a>
            <a class="github" href="https://github.com/yuliankarapetkov/todo-app" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</div>