@import 'variables';

.header {
    height: 40px;
    line-height: 40px;
    background-color: $dark-primary-color;
    color: $secondary-color;

    &__content {
        display: flex;
    }

    &__content-left {

    }

    &__content-right {
        margin-left: auto;
        display: flex;
    }

    .brand {
        font-size: 14px;
    }

    .info__content {
        font-size: 10px;
    }

    .github {
        margin-left: 6px;

        &:link .fab,
        &:visited .fab {
            color: $secondary-color;
        }

        &:hover .fab {
            color: $light-primary-color;
        }
    }
}