<div class="todos">
    <div class="todos__header">
        <div class="container">
            <todos-todo-form
                (addTodo)="onAddTodo($event)">
            </todos-todo-form>
        </div>
    </div>

    <div class="todos__content container">
        <div class="todos-list">
            <div class="todo-item">
                <div class="todo-item__col">
                    <button class="todo-item__button">
                        <i class="fas fa-check"></i>
                    </button>
                </div>
                <div class="todo-item__col">
                    <div class="todo-item__title">
                        Sample text
                    </div>
                </div>
                <div class="todo-item__col">
                    <button class="todo-item__button">
                        <i class="fas fa-pen"></i>
                    </button>
                    <button class="todo-item__button">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>