<div class="todos">
    <div class="todos__header">
        <div class="container">
            <todos-todo-form
                (addTodo)="onAddTodo($event)">
            </todos-todo-form>
        </div>
    </div>

    <div class="todos__content container">
        <div  class="todos-list">
            <div *ngIf="(todos$ | async).length; else noTodos">
                <todos-todo-item
                    *ngFor="let item of todos$ | async"
                    [item]="item"
                    (remove)="onRemoveTodo($event)"
                    (update)="onUpdateTodo($event)">
                </todos-todo-item>
            </div>

            <ng-template #noTodos>
                <div class="todos-list__empty">
                    <p>
                        No tasks here. You are either a great doer, or a great procrastinator.
                    </p>
                </div>
            </ng-template>
        </div>
    </div>
</div>