@import 'variables';
@import 'elements';

.todos {
    &__header {
        background-color: $primary-color;
        padding: 120px 0 60px;
        box-shadow: 0 2px 6px rgba(0,0,0,.2);
    }

    &__form {
        display: flex;

        &-input {
            outline: none;
            border: 0;
            border-radius: 0;
            background: transparent;

            @include placeholderColor($light-primary-color);
            color: $secondary-color;
            border-bottom: 1px solid $light-primary-color;

            height: 50px;
            font-size: 28px;
            font-weight: 300;
            margin-top: -1px;
            padding: 0 0 5px 0;

            flex: 1;

            &:focus {
                @include placeholderColor($secondary-color);
                border-bottom: 2px solid $secondary-color;
                margin-top: -2px;
                padding-left: 5px;

                font-size: 32px;
                transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
            }
        }

        &-submit {
            height: 60px;
            background: $accent-color;
            margin-left: 20px;

            &:hover {
                background-color: #0097A7;
            }
        }
    }

    &__content {
        .todos-list {
            margin-top: 60px;
        }

        .todo-item {
            display: flex;
            padding: 16px 0;
            border-top: 1px solid $divider-color;
            border-bottom: 1px solid $divider-color;

            &__col {
                display: flex;
                align-items: center;

                &:first-child,
                &:last-child {

                }

                &:nth-child(2) {
                    flex: 1;
                }
            }

            &__button {
                @include circButton(40px);

                background-color: $light-primary-color;
                margin-left: 6px;

                &:hover {
                    background-color: $primary-color;
                    color: $secondary-color;
                }

                &:first-child {
                    margin-left: 0;
                }
            }

            &__title {
                font-size: 24px;
                padding-left: 24px;
            }
        }
    }
}