@import 'variables';
@import 'elements';

.todos {
    &__header {
        background-color: $primary-color;
        padding: 120px 0 60px;
        box-shadow: 0 2px 6px rgba(0,0,0,.2);
    }

    &__form {
        display: flex;

        &-input {
            outline: none;
            border: 0;
            border-radius: 0;
            background: transparent;

            @include placeholderColor($light-primary-color);
            color: $secondary-color;
            border-bottom: 1px solid $light-primary-color;

            height: 50px;
            font-size: 28px;
            font-weight: 300;
            margin-top: -1px;
            padding: 0 0 5px 0;

            flex: 1;

            &:focus {
                @include placeholderColor($secondary-color);
                border-bottom: 2px solid $secondary-color;
                margin-top: -2px;
                padding-left: 5px;

                font-size: 32px;
                transition: all .2s cubic-bezier(0.23, 1, 0.32, 1);
            }
        }

        &-submit {
            height: 60px;
            background: $accent-color;
            margin-left: 20px;

            &:hover {
                background-color: #0097A7;
            }
        }
    }
}