@import 'variables';

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 780px;
    padding: 0 15px;
    box-sizing: border-box;
}

.button {
    height: 40px;
    padding: 4px 16px;

    background: $primary-color;
    color: $secondary-color;

    border-radius: 2px;

    cursor: pointer;

    outline: none;
    border: none;

    &:hover {
        background-color: $dark-primary-color;
    }
}

@mixin placeholderColor($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
}