$dark-primary-color: #FBC02D;
$light-primary-color: #FFF9C4;
$light-secondary-color: #fff;
$primary-color: #FFEB3B;

$text-icons: #212121;

$accent-color: #00BCD4;

$primary-text: #212121;
$secondary-text: #757575;

$divider-color: #BDBDBD;