<div class="todo-item">
    <div class="todo-item__col">
        <button class="todo-item__button">
            <i class="fas fa-check"></i>
        </button>
    </div>
    <div class="todo-item__col">
        <div class="todo-item__title">
            Sample text
        </div>
    </div>
    <div class="todo-item__col">
        <button class="todo-item__button">
            <i class="fas fa-pen"></i>
        </button>
        <button class="todo-item__button">
            <i class="fas fa-trash"></i>
        </button>
    </div>
</div>